* {
    margin: 0px;
    padding: 0px;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    font-size: 18px;
}

.link {
    padding: 10px;
    width: 95%;
    margin: 0px auto;
}

.link > a {
    color: #000;
}


.blog_list {
    border: 1px solid #eeeeee;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 600;
}

.blog_list span {
    display: block;
}

.blog_list ul {
    font-size: 12.7px;
    font-weight: 600;
    width: 100%;
    margin: -17px 0px 0px 35px;
}

.blog_list li {
    margin-top: 5px;
}

.blog_list a {
    color: black;
    cursor: pointer;
    font-weight: 400;
}